{% extends "index/base.html" %}{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Events accounting object" %} {{ cart_number }} ({{ cart_type }}){% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'show_events' %}">{% trans "Events" %}</a> / {% trans "Events accounting object" %}{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-12 columns">
        <a class="button" href="{{ back }}">{% trans "Back" %}</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="view_cart_events marginTop">
            <tr>
                <th class="date_and_time">{% trans "Date and time" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>{% for entry in frdly_es %}
            <tr>
                <td>{{ entry.data_env|date:"d.m.Y G:i" }}</td>
                <td>{{ entry.text_com|safe }}</td>
            </tr>{% endfor %}
        </table>
    </div>
</div>
{% endblock %}
