{% extends "index/base.html" %}{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Events accounting object" %} {{ cart_number }} ({{ cart_type }}){% endblock %}
{% block h3 %}{% trans "Events accounting object" %} {{ cart_number }} ({{ cart_type }}){% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="view_cart_events">
            <tr>
                <th class="date_and_time">{% trans "Date and time" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>{% for entry in frdly_es %}
            <tr>
                <td>{{ entry.data_env|date:"d M Y G:i" }}</td>
                <td>{{ entry.text_com|safe }}</td>
            </tr>{% endfor %}
        </table>
    </div>
</div>
{% endblock %}
