{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Settings" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a>/ <a href="{% url 'service:submenu' %}">{% trans "Service" %} </a> / {% trans "Settings" %}{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/settings/
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<form method="POST" action="" class="stickers_format">{% csrf_token %}
<div class="row">
    <div class="large-6 columns">
        <fieldset>
            <legend>{% trans 'Stickers' %}</legend>
            
                <label class="required">{% trans 'Select paper format' %}</label>
                {{ form.choice }}
                <label class="required">{% trans 'Print QR code?' %}</label>
                {{ form.print_qr_code }}
            </form>
        </fieldset>
    </div>
    <div class="large-6 columns">
        <fieldset>
            <legend>{% trans 'Time' %}</legend>
                <label class="required">{% trans "Set time zone" %}</label>
                {{ form.time_zone }}
                <label class="required marginTop">{% trans "Show time" %}</label>
                <div class="marginTop">{{ form.show_time }}</div>
            </form>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="large-6 columns"><input type="submit" class="button" value="{% trans 'Save' %}" ></div>
</div>
</form>
{% endblock %}
