{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Email" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a>/ <a href="{% url 'service:submenu' %}">{% trans "Service" %}</a> / {% trans "Settings Email" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <form action="" method="POST" class="settings_email_form">{% csrf_token %}
            <fieldset>
                <legend>{% trans 'Settings mail server' %}</legend>
                {{ settings_form.as_p }}
                <input type="submit" class="settings_email button no_follow" value="{% trans 'Save' %}">
            </fieldset>
        </form>
    </div>
    <div class="large-6 columns">
        <form action="" method="POST" class="send_email_form">{% csrf_token %}
            <fieldset>
                <legend>{% trans 'Send check email' %}</legend>
                {{ sender_form.as_p }}
                <input type="submit" class="send_email button no_follow" value="&nbsp;&nbsp;{% trans 'Send' %}&nbsp;&nbsp;">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
