{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Settings format stickers" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a>/ <a href="{% url 'service:submenu' %}">{% trans "Service" %} </a> / {% trans "Settings format stickers" %}{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/stickers/
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <form method="POST" action="" class="stickers_format">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="{% trans 'Save' %}" >
        </form>
    </div>
</div>
{% endblock %}
