{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Service" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / {% trans "Service" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-4 columns">
        <p><a href="{% url 'events:show_events' %}">{% trans "Events" %}</a></p>
        <p><a href="{% url 'service:settings_mail' %}">{% trans "E-mail" %}</a></p>
        <p><a href="{% url 'service:stickers' %}">{% trans "Stickers" %}</a></p>
    </div>
</div>
{% endblock %}
