html, body {
    height: 100%;
}

body.all {
    height: 100%;
    background: #fff;
}

body.linen-texture {
    background: url('../img/cloud.png') repeat-x;
}

img {
    padding:0;
    margin:0;
}

fieldset legend{
    background: none;   
}

.width100 {
    display: block;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 1em 0;
    padding: 0; 
}

div.main_content {
    width: 1000px;
    margin: 0 auto 0;
    background: #f3f3f3;
    min-height: 100%;
    padding-bottom: 90px;
}

div.footer {
    background: #f3f3f3;
    max-width: 1000px;
    height: 80px;
    margin: -80px auto 0;

}

div.text_in_footer {
    height: 100%;
    line-height: 80px;
    text-align: center;
    position: relative;
}

form label {
    margin-bottom: 10px;
}

div.wrapper form label,
div.wrapper form input{
    display:block;
    margin:auto;
}


form input[type="text"], 
form input[type="password"] {
    margin: 0;
}


.breads, .breads a img {
    vertical-align: baseline;
}

.marginTop, form input[type="submit"].marginTop {
    margin-top:15px;
    overflow: hidden; /* disable margin collapse */
}

.marginTop25 {
	margin-top:25px;
    overflow: hidden;
}

.marginBot {
    margin-bottom: 15px;
}

.dashboard_events {
    width:100%;
    height: 512px;
    background-color: #f3f3f3;
    background: url(../img/big_spinner.gif) center center no-repeat;
}

.show_all_events {
    width: 100%;
    min-height: 64px;
    background-color: #f3f3f3;
    background: url(../img/big_spinner.gif) center center no-repeat;
}

.vertical-top {
    vertical-align: baseline;
}


.form_error_text {
    display: none;
    color: #ff6464;
    font-size: 12px;
}

.check_use_cartridge {
    display: none;
}

.info_ico {
    width: 16px;
    height: 16px;
    display: inline-block;
    background:url('../img/stor_info.png') no-repeat;
}

.info_ico:hover {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    background:url('../img/stor_info.png') no-repeat left bottom;
}

.error_msg,
.error_msg_send,
.error_msg_send_email {
    display: none;
    color: #ff6464;
    border: 2px solid #ff6464;
}

.error_msg a {
    color: #ff6464;
    border-bottom: 1px solid #ff6464;
}

.error_msg a:hover {
    color: #ff1122;
    border-bottom: 1px solid #ff1122;
}

.error_msg_send_email,
.success_msg_send_email {
    width:400px;
    margin:auto;
    padding: 10px;
}

.success_msg,
.success_msg_set,
.success_msg_send,
.success_msg_send_email {
    display: none;
    color: #7BCC9A;
    border: 2px solid #7BCC9A;
}

.success_msg_set,
.success_msg_send {
    padding: 10px;
}


.error_msg, 
.success_msg,
.error_msg_send {
    padding: 10px;
    margin: 10px 0 10px;
}


.errornote {
    color: #ff0000;
}
/* Global tables */
table th{
    text-align: left;
}

span.gi {
    color: #d7d7d7;
    font-weight: bold;
    margin-right: 5px;
}

.spinner, 
.export_spinner,
.filter_spinner,
.spinner_pdf,
.spinner_sett,
.spinner_send,
.spinner_ou {
    margin-left: 10px;
    display: none;
}

.cont{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    text-align: center;
}

.download_pdf {
    display: none;
}

input[type='email'],
input[type='number'],
input[type='text'] {
    margin: 0;
}

form.stickers_format ul {
    list-style-type: none;
}

div.main_content span.user_ou {
    font-size:12px;
}

table.checkboxes tr.red_bg {
    background-color: #ff6464;
}

table.checkboxes tr.green_bg {
    background-color: #7BCC9A;
}

table.checkboxes tr.gray_bg {
    background-color: #ececec;
}

div.submenu {
    line-height: 25px;
}


/*  end global tables */

.wrapper {
	display: table-cell;
    vertical-align: middle;
	margin: auto;
}

.login_form {
    display: inline-block;
    width: 250px;
    height: 250px;
/*    border:1px solid black; */
    background: #FF9900;
    border-radius: 5px;
}

.login_form label{
    display: block;
    padding: 0;
}

.login_form input{
    margin-top:5px;
    border-radius: 3px;
    padding-left: 5px;
}

#login-form [type="submit"].button {
    display: block !important;
    width: 150px;
    margin: auto;
    background-color: #d6d6d6;
}

#login-form .forgot_password {
    text-decoration: none;
    outline: none;
    color:green;
    display: inline-block;
    margin:14px 0 0 0;
    border-bottom: 1px solid green;
}

#login-form .forgot_password:hover {
    border-bottom: 0 solid green;   
}

#login-form .forgot_password:active {
    font-weight: bold;
    border-bottom: 0 solid green;      
}

input.loc, 
input.loc:active,
input.loc:focus,
input.loc:hover {
    background: url('../img/security.png') no-repeat right center;
}

input.barcode,
input.barcode:active,
input.barcode:focus,
input.barcode:hover {
    background: url('../img/barcode.png') no-repeat right center;
}

/* Vertical menu */
ul.vert-menu {
    font-size: 0.875em;
    padding:0;
    float:left;
    width:100%;
    height:50px;
    display:block;
    margin:0;
}

ul.vert-menu li {
    margin: 6px 0 0 0;
    background: black;
    display:block;
    line-height: 50px;
    list-style:none;
}

ul.vert-menu li.select {
    border-left:6px solid #d0d0d0;
    border-right:6px solid #d0d0d0;
}

ul.vert-menu li a {
    background:none;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    padding: 0 15px;
    width: 100%;
    outline: 0;
}

ul.vert-menu li a:hover {
    background-color:#848484;
}

/* Horizontal menu */
ul.menu {
    font-size: 0.875em;
    padding:0;
    float:left;
    width:100%;
    height:50px;
    display:block;
    
    margin:0;
}

div.black-bg {
    background-color:#000;
}

ul.menu li {
    display:inline-block;
    list-style:none;
    float:left;
    position:relative;
}

ul.menu li a {
    background:none;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    padding: 0 12px;
    outline: 0;
}

ul.menu li a:hover {
    background-color:#848484;
}

ul.menu ul {
    display:none;
    position:absolute;
    left:-40px;
    text-align:center;
    list-style:none;
    z-index: 100;
}

ul.menu li {
    display:block;
    line-height:50px;
}


ul.menu ul.hovered {
    display:block;
}

ul.menu ul li{
    background-color:#000;
    height:50px;
    width:100%;

}

ul.menu ul li a{
    display:inline-block;
    width:100%;
    padding:0px;
}

ul.menu ul li a:hover{
    background-color:#848484;
}

ul.menu .right {
    float:right;
}

ul.menu > li.select > a:after {
    content:' ';
    display:block;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0; 
    border-bottom:4px solid #f3f3f3;
}

ul.menu > li.select:hover:after {
    background-color:#848484;   
}

select.language_selector {
    height: 26px;
    font-size: 16px;
    width: 90px;
}

/*   --------end style menu-----------   */
label.required {
   background: url('../img/aster.png') left center no-repeat;
   text-align: left;
}

div.wrapper label.required {
    text-align: center;
    background: none;  
}

.input_row input[type="text"], .input_row select {
    width:220px;
    height: 33px;
    display: inline-block;
    vertical-align: top;
}

.input_row a {
    display: inline-block;
}


.input_row select {
    margin-right: 0px;
}

label {
    padding-left: 15px;
}

#id_filter_ca {
    width: 200px;
}

#id_cartName {
    width: 180px;
    display: inline-block;   
    margin: 0px;
}

#id_doc, #id_storages {
    width:430px;
}

.filter_spinner {
    padding: 0;
    margin: 0;
}

a.current {
    color:#000;
    cursor: default;
}

.tooltips {
    position: absolute;
    display: none;
    white-space: nowrap;
}

/* ---Error messages style---  */

ul.errorlist {
    list-style: none;
    font-size: 12px;
    color: red;
}

.errorlog {
    padding:15px;
    display: none;
}

.errorlog.success {
    border:2px solid #60C185;
    color:#60C185;
    display: block;
}

.errorlog.error {
    border: 2px solid #ff6464;
    color: #ff6464;
    display: block;
}

/* ---- Forms decorating ----- */

form.dancon select {
    width:220px;
    height: 33px;
}


form.dancon input[type="text"]{
    width:220px;
    height: 33px;
}

.dancon_row{
    width:270px;
    min-height: 33px;

}

.dancon_row .left_pos{
    float: left;
}

.dancon_row .right_pos{
    float: right;
}

.clear_float{
    clear: both;
}


form select {
    height: 33px;
}

/*  -----buttons style---- */

.dj_button.add, .add {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url('../img/add_button.png') no-repeat center center;
    border: 1px solid green;
    border-radius: 4px;
}


a.button, input[type="submit"].button, button.button {   
	outline:0;
	padding: 0 10px;
	color: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ececec;
    border: 1px solid #a8a8a8;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    height: 26px;
    line-height: 25px;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 15px 0 0;
    font-family: arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
}

a.button.block, input[type="submit"].button.block, button.button.block {   
    outline:0;
    padding: 0 10px;
    color: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ececec;
    border: 1px solid #a8a8a8;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    height: 26px;
    line-height: 25px;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 15px 0 0;
    font-family: arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
}

a.button:hover, input[type="submit"].button:hover {
    background-color: #d1d1d1;
    text-decoration: none;
}


a.button.block:hover, input[type="submit"].button.block:hover {
    background-color: #ececec;
    text-decoration: none;
}

a.button:active, input[type="submit"].button:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #aaa;
    border: 1px solid #a8a8a8;
}

a.button.block:active, input[type="submit"].button.block:active {
    background: #ececec;
    border: 1px solid #a8a8a8;
}

a.button.success, input[type="submit"].button.success {
    color: #282828;
    background-color: #7BCC9A;
    border: 1px solid #2D7347;
    display: inline-block;
}

a.button.success:hover, input[type="submit"].button.success:hover {
    background-color: #60C185;
    text-decoration: none;
}

a.button.success:active, input[type="submit"].button.success:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #3A945C;
    border: 1px solid #2D7347;
}

a.button.alert, input[type="submit"].button.alert {
    color: #282828;
    background-color: #ff6464;
    border: 1px solid #821B09;
}

a.button.alert:hover, input[type="submit"].button.alert:hover {
    background-color: #ff8787;
    text-decoration: none;
}

a.button.alert:active, input[type="submit"].button.alert:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #A7230C;
    border: 1px solid #821B09;
}

a.button.info, input[type="submit"].button.info {
    color: #282828;
    background-color: #61b6d9;
    border: 1px solid #1C5771;
}

a.button.info:hover, input[type="submit"].button.info:hover {
    background-color: #8FCBE4;
    text-decoration: none;
}

a.button.info:active, input[type="submit"].button.info:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #277DA3;
    border: 1px solid #1C5771;    
}
a.export_to_csv:hover {
    background-color: #60C185;
}

a.export_to_csv:active {
    background: #3A945C url('../img/excel.png') no-repeat;
}

a.margin-zero {
    margin:0;
}

a.export_to_csv{
    margin: 0;
    padding:10px;
    background: #7BCC9A url('../img/excel.png') no-repeat;
    background-position: left center;
}

select.export_type {
    width: 260px; 
}

.download_doc {
    display: none;
}
/* ---- login form ------ */

input[type="submit"].button.login {
    width: 200px !important;
    color: #282828;
    font-size: 16px;
    background-color: #14de0f !important;
    border: 1px solid #10b80c;
}

input[type="submit"].button.login:hover {
    background-color: #0e9d0a !important;
    text-decoration: none;
}

input[type="submit"].button.login:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #0d950a !important;
    border: 1px solid #10b80c;    
}


/* --- end button style ---*/

/* ---messages--- */
div.ajax_messages {
    display: none;
}

ul.messages {
    list-style: none;
/*    padding:10px; */
}

ul.messages .success {
    color: #00B700;
    border: 2px solid #00B700;
    padding:10px;
}

ul.messages .error {
    color: #ff0000;
    border: 2px solid #ff0000;
    padding:10px;
}
/* ---endmessages--- */

.dashboard, .top_events {
    margin:0;
    max-height:400px;
    overflow: hidden;
}

table.statistics,
table.dashboard {
    width: 100%;
}

table.top_events {
    width:100%;
}

table.top_events th.date_and_time {
    width:120px;
}


table.top_events td {
    font-size: 12px;
}

.dashboard .pic{
    width: 80px;
    height: 80px;
}

.dashboard .quad{
    width: 80px;
    height: 80px;
    padding: 0;
    font-size: 16px;
    line-height: 80px;
    text-decoration: bold;
    text-align: center;
}

/* --- bad browser --- */
.header {
    background-color:#ff0000;
    color:#fff;
    font-weight:bold;
    padding:10px;
}

.center_panel {
    width:410px;
    height:400px;
    margin:45px auto 0;    
    border:2px solid #d5d5d5;
    padding:10px;
}

.brow_list {
    dispaly:block;
    margin:50px auto 0;
    width:375px;
    overflow:hidden;
}

a img{
    outline:0;
    vertical-align:top;
}

.pic a img{
    border:0px;
}

.bl {
    display:inline-block;
    *display:block;
    *float:left;
    width:75px;
    height:140px;
    margin:0;
    padding:0;
    vertical-align:top;
    overflow:hidden;
}

.bl p {
    text-align:center;
}

/* ---end bad browser ---*/

.izuminka {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* --- Start style main table  --- */

table.checkboxes tr {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

table.checkboxes {
    width: 100%;
    border: 1px solid #bbb;
}

table.checkboxes th.actions {
    width:140px;
}

table.checkboxes th.cart_number {
    width:86px;
}

table.checkboxes th.cart_name {
    width:106px;
}

table.checkboxes th.fio {
    width:100px;
}

table.checkboxes th.who_give {
    width:100px;
}

table.checkboxes th.cart_count {
    width:102px;
}

table.checkboxes th.first_checkbox {
    width:30px;
}

table.checkboxes th.cart_date {
    width:110px;
}

table.checkboxes th.org_user {
    width:250px;
}

table.checkboxes th.firm_filled {
    width:100px;
}

.comment_in_cell {
    display: block;
    width:150px;
    white-space: nowrap;
}

input.search_number {
    display: inline important!;   
    padding: 0;
    width: 70px;
    font-style: normal;
    margin:6px 0 0 0;
}

th.active_cell {
    background: #c8c8c8;
}

/* --- end main table style --- */

/* start action table */
table.actions_firm th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table.actions_firm label {
    font-size: 14px;
    display: inline-block;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    padding: 0;
}

table.actions_firm th.action_type {
    width: 120px;
/*    padding: 15px;
    display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
}

th.action_type input {
    vertical-align: top;
    margin-right: 6px;
}

select.action {
    height: auto;
    display: inline-block;
    width: auto;
}

select.cartridge_action {
    height:20px;
}

.cartridge_action option, select.action option {
    padding: 5px;
}

/* end action table */

/* start pagination */
ul.page_size li{
    display: inline;
    list-style:none;
    padding-left: 10px;
}

/* end pagination */

/* start all events table */
table.all_events_view,
table.view_cart_events {
    width:100%;
}

table.all_events_view th.date_and_time,
table.view_cart_events th.date_and_time {
    width:140px;
}

table.all_events_view tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
/* end all events table */

/* start date input form */
form.input_date {
    margin: 0;
    line-height: 32px;
}

form.input_date input.button {
    vertical-align: middle;
    display: inline-block;
}

form.input_date input, div.calendar input {
    display: inline-block;
    width: 150px;
    height: 32px;
    margin: 0;
    vertical-align: top;
}

div.calendar {
    margin:0 30px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    height:32px;
    width: 182px;
}

div.calendar .ui-datepicker-trigger {
    display: inline-block;
    width: 32px;
    height:32px;
    cursor: pointer;
}
/* end date input form */

/* Search service */
li.search {
    padding-left: 12px;
}

li.search form {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.search .search_query {
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 12px;
    border: 0px solid #000;
    margin: 0;
    padding: 0 0 0 2px;
    vertical-align: middle; 
}

.search .search_button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0 solid #000;
    background: url('../img/search.png') no-repeat;
    background-color: buttonface;
    vertical-align: middle;
}
/* End search service */

span.support_request {
    display: inline-block;
    position: absolute;
    right:12px;
    font-size: 14px;
}

a.add_from_keyboard{
    background: #7BCC9A url('../img/keyboard.png') no-repeat top right;
    padding-right: 33px;
    padding-bottom: 33px;
    line-height: 34px;
    border:1px solid #2D7347;
}

a.add_items.add_from_keyboard:active {
    background: #7BCCAA url('../img/keyboard.png') no-repeat top right;
}

a.add_from_barcode_scanner {
    background: #7BCC9A url('../img/barcodescanner.png') no-repeat top right;
    padding-right: 33px;
    padding-bottom: 33px;
    line-height: 34px;
    border:1px solid #2D7347;
}

a.add_items.add_from_barcode_scanner:active {
    background: #7BCCAA url('../img/barcodescanner.png') no-repeat top right;   
}
