html, body {
    height: 100%;
}

.marginTop {
    margin-top:15px;
}

.marginBot {
    margin-bottom: 15px;
}

.login-string {
    text-align: right;
    line-height: 25px;
}

.error_msg {
    display: none;
    color: #ff6464;
    border: 2px solid #ff6464;
}

.success_msg {
    display: none;
    color: #7BCC9A;
    border: 2px solid #7BCC9A;
}

.error_msg, .success_msg {
    padding: 10px;
    margin: 10px 0 10px;
}


/* Global tables */
table th{
    text-align: left;
}


span.gi {
    color: #d7d7d7;
    font-weight: bold;
    margin-right: 5px;
}


.spinner {
    margin-left: 10px;
    display: none;

}

.cont{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    text-align: center;
}

/*  end global tables */

.wrapper {
	display: table-cell;
    vertical-align: middle;
	margin: auto;
}

.login_form {
    display: inline-block;
    width: 250px;
    height: 250px;
/*    border:1px solid black; */
    background: #FF9900;
}

.login_form label{
    display: block;
    padding: 0;
}

.login_form input{
    margin-top:5px;
}

#login-form [type="submit"].button {
    display: block !important;
    width: 150px;
    margin: auto;
    background-color: #d6d6d6;

}
/* Horizontal menu */
ul.menu {
    font-size: 0.875em;
    padding:0;
    float:left;
    width:100%;
    height:50px;
    display:block;
    background-color:#000;
    margin:0;
}

ul.menu li {
    display:inline-block;
    list-style:none;
    float:left;
    position:relative;
}

ul.menu li a {
    background:none;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    padding: 0 15px;
    outline: 0;
}

ul.menu li a:hover {
    background-color:#848484;
}

ul.menu ul {
    display:none;
    position:absolute;
    left:-40px;
    text-align:center;
    list-style:none;
    z-index: 100;
}

ul.menu li {
    display:block;
    line-height:50px;
}


ul.menu ul.hovered {
    display:block;
}

ul.menu ul li{
    background-color:#000;
    height:50px;
    width:100%;

}

ul.menu ul li a{
    display:inline-block;
    width:100%;
    padding:0px;
}

ul.menu ul li a:hover{
    background-color:#848484;
}

ul.menu .right {
    float:right;
}

ul.menu > li.select > a:after {
    content:' ';
    display:block;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0; 
    border-bottom:4px solid #f3f3f3;
}

ul.menu > li.select:hover:after {
    background-color:#848484;   
}

/*   --------end style menu-----------   */
label.required {
   background: url('../img/aster.png') left center no-repeat;
}

label {
    padding-left: 15px;
}
/* ---Error messages style---  */

ul.errorlist {
    list-style: none;
    font-size: 12px;
    color: red;
    margin-top: -10px;
}

.errorlog {
    padding:15px;
    display: none;
}

.errorlog.success {
    border:2px solid #60C185;
    color:#60C185;
    display: block;
}

.errorlog.error {
    border: 2px solid #ff6464;
    color: #ff6464;
    display: block;
}

/* ---- Forms decorating ----- */

form.dancon select {
    width:220px;
    height: 33px;
}


form.dancon input[type="text"]{
    width:220px;
    height: 33px;
}

.dancon_row{
    width:270px;
    min-height: 33px;

}

.dancon_row .left_pos{
    float: left;
}

.dancon_row .right_pos{
    float: right;
}

/*
.dancon_row .left_pos input.button{
    display: inline-block;
    float: left;
    width:100px;
}

.dancon_row .right_pos a.button{
    display: inline-block;
    float: right;
    width:100px;
}

*/
.clear_float{
    clear: both;
}

/*  -----buttons style---- */

.dj_button.add {
    display: block;
    width: 33px;
    height: 33px;
    background: url('../img/add_button.png') no-repeat center center;
    border: 1px solid green;
}

a.button, input[type="submit"].button, button.button {   
	outline:0;
	padding: 0 10px;
	color: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ececec;
    border: 1px solid #a8a8a8;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    height: 26px;
    line-height: 25px;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0;
    font-family: arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
}

a.button:hover, input[type="submit"].button:hover {
    background-color: #d1d1d1;
    text-decoration: none;
}

a.button:active, input[type="submit"].button:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #aaa;
    border: 1px solid #a8a8a8;
}

a.button.success, input[type="submit"].button.success {
    color: #282828;
    background-color: #7BCC9A;
    border: 1px solid #2D7347;
    display: inline-block;
}

a.button.success:hover, input[type="submit"].button.success:hover {
    background-color: #60C185;
    text-decoration: none;
}

a.button.success:active, input[type="submit"].button.success:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #3A945C;
    border: 1px solid #2D7347;
}

a.button.alert, input[type="submit"].button.alert {
    color: #282828;
    background-color: #ff6464;
    border: 1px solid #821B09;
}

a.button.alert:hover, input[type="submit"].button.alert:hover {
    background-color: #ff8787;
    text-decoration: none;
}

a.button.alert:active, input[type="submit"].button.alert:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #A7230C;
    border: 1px solid #821B09;
}

a.button.info, input[type="submit"].button.info {
    color: #282828;
    background-color: #61b6d9;
    border: 1px solid #1C5771;
}

a.button.info:hover, input[type="submit"].button.info:hover {
    background-color: #8FCBE4;
    text-decoration: none;
}

a.button.info:active, input[type="submit"].button.info:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #277DA3;
    border: 1px solid #1C5771;    
}

/* --- end button style ---*/

/* ---messages--- */
ul.messages {
    list-style: none;
/*    padding:10px; */
}

ul.messages .success {
    color: #00B700;
    border: 2px solid #00B700;
    padding:10px;
}

ul.messages .error {
    color: #ff0000;
    border: 2px solid #ff0000;
    padding:10px;
}
/* ---endmessages--- */

.dashboard .pic{
    width: 80px;
    height: 80px;
}

.dashboard .quad{
    width: 80px;
    height: 80px;
    padding: 0;
    font-size: 16px;
    line-height: 80px;
    text-decoration: bold;
    text-align: center;
}

/* --- bad browser --- */
.header {
    background-color:#ff0000;
    color:#fff;
    font-weight:bold;
    padding:10px;
}

.center_panel {
    width:410px;
    height:400px;
    /*position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;*/
    margin:45px auto 0;    
    border:2px solid #d5d5d5;
    padding:10px;
}

.brow_list {
    dispaly:block;
    margin:50px auto 0;
    width:375px;
    overflow:hidden;
}

a img{
    outline:0;
    vertical-align:top;
}

.pic a img{
    border:0px;
}

.bl {
    display:inline-block;
    *display:block;
    *float:left;
    width:75px;
    height:140px;
    margin:0;
    padding:0;
    vertical-align:top;
    overflow:hidden;
}

.bl p {
    text-align:center;
}

/* ---end bad browser ---*/

.izuminka {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* --- Start style main table  --- */
/*table.checkboxes tr, 
table.checkboxes tr td,
table.checkboxes tr th {
    border: 1px solid #c5c5c5;
} */

table.checkboxes tr {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.comment_in_cell {
    display: block;
    width:150px;

}

input.search_number {
    display: inline important!;   
    padding: 0;
    width: 70px;
    font-style: normal;
    margin:6px 0 0 0;
}

th.active_cell {
    background: #c8c8c8;
}

/* --- end main table style --- */

/* start action table */
table.actions_firm th {
    /* text-align: center; */
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

table.actions_firm label {
    font-size: 14px;
    display: inline-block;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    padding: 0;
}

table.actions_firm th.action_type {
    width: 120px;
/*    padding: 15px;
    display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
}

th.action_type input {
    vertical-align: top;
    margin-right: 6px;
}
/* end action table */

/* start pagination */
ul.page_size li{
    display: inline;
    list-style:none;
    padding-left: 10px;
}


/* end pagination */
