<!DOCTYPE html>{% load staticfiles %}{% load i18n %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link href="{{ STATIC_URL }}img/favicon.ico?1" rel="shortcut icon" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css?1" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?1" />
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="/dhtml/logic.js?23"></script>
    <title>{% block title %}{% endblock %}</title>
    <noscript>
        <meta http-equiv="refresh" content="3;url={% url 'index:bad_browser' %}"/>
    </noscript>
</head>
<body class="linen-texture">
    <div class="cont">
        <div class="wrapper">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>
