{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Form change password" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'docs:handbook' %}">{% trans "References" %}</a> / <a href="{% url 'auth:manage_users' %}">{% trans "User management" %}</a> / {% trans "Form change password" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <p>{%trans "Change password for user:"%} <b>{{ fio }}</b></p>
        {% if form.errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
        </ul>{% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="marginTop"></div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <div class="marginTop">
                <input type="submit" value="{% trans 'Change password' %}" class="button success" />
                <a href="{% url 'auth:manage_users' %}" class="button">{% trans 'Back' %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
