{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Registry user" %}{% endblock %}
{% block h3 %}{% trans "Registry user" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="large-6 columns">
                <input type="submit" value="{% trans 'Save' %}" class="button success" />&nbsp;&nbsp;&nbsp;
                <a href="{% url 'auth:manage_users' %}" class="button">{% trans 'Back' %}</a>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
