<!DOCTYPE html>{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link href="{% static "img/favicon.ico" %}" rel="shortcut icon"/>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{{ STATIC_URL }}js/logic.js"></script>
    <title>Залогиньтесь</title>
    <noscript>
        <meta http-equiv="refresh" content="3;url={% url 'bad_browser' %}"/>
    </noscript>
</head>
<body class="linen-texture">
<div class="cont">
<div class="wrapper">
{% if error %}
    <p class="errornote">Введите корректный логин или пароль!</p>
{% endif %}
<div class="login_form">
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        <p><label for="{{ form.username.id_for_label }}">Логин</label>
        {{ form.username }}</p>
        <p><label for="{{ form.password.id_for_label }}">Пароль</label>
        {{ form.password }}</p>
        <input type="hidden" name="next" value="{{ next }}"/>
        <br/>
        <input class="button login" type="submit" value="Войти"/>
    </form>

    <script>
        document.getElementById('id_username').focus()
    </script>
</div>
</div>
</div>
<div class="izuminka"><img src={{ STATIC_URL }}img/shd.png title="Made in Salekhard" /></div>
</body>
</html>
