{% extends "accounts/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}{% trans "Recover password" %}{% endblock %}
{% block content %}
{% if form.errors %}
<ul class="errorlist">
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>{% endif %}
<form action="" method="POST" class="change_pass_with_key">
    {% csrf_token %}
    {% for field in form %}
        <div class="marginTop"></div>
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    {% endfor %}
    <div class="marginTop">
        <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Change password' %}&nbsp;&nbsp;&nbsp;&nbsp;" class="button success" />
    </div>
</form>
<script>
    document.getElementById('id_password1').focus()
</script>
{% endblock %}
