{% extends "accounts/base.html" %}{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">{% if show_form %}
        <div class="error_msg_send_email" style="display:none"></div>
        <div class="success_msg_send_email" style="display:none"></div>
        <p>{% trans 'Please enter your email address. On it will send the message to change the password.' %}</p>
        <form method="POST" action="">{% csrf_token %}
            {{ form.email.label_tag }}&nbsp;&nbsp;&nbsp;{{ form.email }}&nbsp;&nbsp;&nbsp;
            <div class="marginTop">
                <input type="submit" class="send_repair_email button no_follow" name="submit" value="{% trans 'Send' %}" />
            </div>
            <img class="spinner_send" src="{{ STATIC_URL }}img/loader.gif" />
        </form>
        <script>
            document.getElementById('id_email').focus()
        </script>{% endif %}
    </div>
</div>
{% endblock %}
