{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Add city" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'docs:handbook' %}">{% trans "References" %}</a> / <a href="{% url 'add_firm' %}">{% trans "Firms" %}</a> / {% trans "Add city" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='{% trans "Add" %}' class="button success" />
            <a class="button" href="{{ back }}">{% trans "Back" %}</a>
        </form>
    </div>
</div>
{% endblock %}
