{% load i18n %}{% load staticfiles %}
{% if list_items %}
<div class='marginTop'>
    <a class="button success add_items_from_barcode no_follow" data="{{action_type}}">{% trans "Add" %}</a>
    <a class="button remove_item no_follow" data="{{action_type}}" session_var="{{session_var}}">{% trans "Remove item" %}</a>
    <a class="button remove_all_items no_follow" data="{{action_type}}" session_var="{{session_var}}">{% trans "Clear session" %}</a>&nbsp;&nbsp;
    <img class="session_spinner" src="{{ STATIC_URL }}img/loader.gif" />
</div>
{% endif %}
<div class='marginTop'></div>
{% for elem in list_items %}
<div class="p_checkboxes cart_item_{{ forloop.counter0 }}">
    <p><input type='checkbox' name='cart_number' value='{{ forloop.counter0 }}'>&nbsp;&nbsp;&nbsp; 
    {{ elem.cart_number }}&nbsp;&nbsp;&nbsp;{{ elem.cart_name }}&nbsp;&nbsp;&nbsp; {{ elem.date_time_added }}</p>
    <hr/>
</div>
{% endfor %}
