<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Добавить новый тип расходного материла</title>
</head>
<body>
<form action="/add_type/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить" />
</form>
<hr />
<table>
    <tr>
        <th>ID</th>
        <th>Тип расходника</th>
    </tr>
    {% for i in types %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.cart_type }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>