{% extends "index/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}{% trans "Adding objects to the stock with barcode scanner" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'index:stock' %}">{% trans "List of new or refilled cartridges" %}</a> / {% trans "Adding objects to the stock with barcode scanner" %}{% endblock %}
{% block jqueryui %}
<!-- Виджет календарика -->
<link rel="stylesheet" href="/static/css/jquery-ui.css?1" />
<script src="/static/js/jquery-ui.js?1"></script>
<script src="/static/js/datepicker.js?1"></script>
<script src="/static/js/datepicker-ru.js?1"></script>
{% endblock %}

{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/add_items_from_barcode_scanner/
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <div class="success_msg"></div>
            <div class="error_msg"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="post">
                {% csrf_token %}
                <label>{% trans 'Scanning number' %}</label>
                <input class="barcode" id="id_cartNumber" maxlength="256" name="cartNumber" type="text" readonly="" data="full">
                <div class="form_error_text cart_number_error">{% trans "Required field" %}</div>
                <div class="marginTop"></div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <label for="id_filter_ca">{% trans "Filter" %}</label>
                        <input class="inline left" id="id_filter_ca" name="filter_ca" type="text">
                        <img class="inline right filter_spinner" src="{{ STATIC_URL }}img/loader.gif" />
                    </div>
                    <div class="large-6 medium-6 columns">
                        <label class="required" for="id_cartName">{% trans "Cartridge name" %}</label>
                        <div class="input_row">
                            <select class="dinamic_list" id="id_cartName">
                                <option></option>
                            </select>
                            <a class="dj_button add" href="{% url 'index:add_name' %}"></a>
                        </div>
                        <div class="form_error_text cart_name_error">{% trans "Required field" %}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="marginTop wrapper-manual-datetime">
                        <div class="large-6 medium-6 columns">
                            <label for="id_date" class="required">{% trans "Date added" %}</label>
                            <div class="calendar">{{ form.set_date }}</div>
                            <div class="form_error_text date_error">{% trans "Required field" %}</div>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <label for="id_time" class="required">{% trans "Time added" %}</label>
                            {{ form.time }}
                            <div class="form_error_text time_error">{% trans "The field must be seleced" %}</div>
                        </div>
                    </div>
                </div>

                <label class="required marginTop" for="{{ form.storages.id_for_label }}">{% trans "Storage" %}</label>
                <div class="input_row">
                    {{ form.storages }} <a class="dj_button add" href="{% url 'storages:add_s' %}"></a>
                </div>
                <div class="form_error_text cart_sklad_error">{% trans "The field must be seleced" %}</div>

                <label class="marginTop" for="{{ form.doc.id_for_label }}">{% trans "Delivery agreement" %}</label>
                <div class="input_row">
                    {{ form.doc }} <a class="dj_button add" href="{% url 'docs:delivery' %}"></a>
                </div>

                
                <div class="row">
                    <div class="large-4 columns">
                        
                    </div>
                    <div class="large-4 columns">
                        <div class='marginTop55'>
                            <a href="{{ back }}" class="button"/>{% trans "Back" %}</a>&nbsp;&nbsp;&nbsp;
                            <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label class='marginTop'>{% trans "Manual date setting" %}</label>
                        <div class="myswitch">
                            <input id="cmn-toggle-2" class="cmn-toggle-2 cmn-toggle cmn-toggle-round" type="checkbox" name="tumbler">
                            <label for="cmn-toggle-2"></label>
                        </div>
                    </div>
                    {% if debug %}
                        <a class="button no_follow add_new_cart_from_barcode_with_button" href="#">{% trans 'Debug' %}</a>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="large-6 column">
            <!-- Прежнее место сессионных переменных -->
            <div class="add_cart_from_barcode">
                {% if list_items %}
                <div class='marginTop'>
                    <a class="button success add_items_from_barcode no_follow" data="full" >{% trans "Add" %}</a>
                </div>
                {% endif %}
                <div class='marginTop'></div>
                {% for elem in list_items %}
                <div>
                    <p><input type='checkbox' name='cart_number' value='{{ forloop.counter0 }}'>&nbsp;&nbsp;&nbsp; 
    {{ elem.cart_number }}&nbsp;&nbsp;&nbsp;{{ elem.cart_name }}&nbsp;&nbsp;&nbsp; {{ elem.date_time_added }}</p>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
