{% extends "index/base.html" %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <form action="/add_items/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="large-6 columns">
                    {{ form.subject.errors }}
                    <label for="{{ form.cart_name.id_for_label }}">Название расходника:</label>
                    {{ form.cart_name }}
                </div>

                <div class="large-6 columns">
                        <a class="button radius small marginTop" href="/add_name/">Добавить наименование</a>
                </div>

            </div>

            <div class="row">
                <div class="large-6 columns">
                    {{ form.cart_count.errors }}
                    <label for="{{ form.cart_count.id_for_label }}">Количество:</label>
                    {{ form.cart_count }}
                </div>
            </div>

            <input type="submit" value="Добавить" class="button radius" />
        </form>
        {% endblock %}
    </div>
</div>
