{% extends "index/base.html" %}{% load staticfiles %}
{% block title %}Добавление объектов на склад{% endblock %}
{% block h3 %}Добавление объектов на склад{% endblock %}
{% block jqueryui %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pm_widget.css" />
    <script src="{{ STATIC_URL }}js/pm_widget.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="post">
                {% csrf_token %}
                <label class="required" for="{{ form.cartName.id_for_label }}">Название расходника</label>
                <div class="input_row">
                    {{ form.cartName }} <a class="dj_button add" href="{% url 'add_name' %}"></a>
                </div>
                <div class="form_error_text cart_name_error">Поле обязательно для заполнения</div>
                
                <label class="marginTop" for="{{ form.doc.id_for_label }}">Договор поставки</label>
                <div class="input_row">
                    {{ form.doc }} <a class="dj_button add" href="{% url 'docs:delivery' %}"></a>
                </div>

                <label class='required marginTop' for="{{ form.cartCount.id_for_label }}">Количество</label>
                <div class="input_row">
                    {{ form.cartCount }}
                </div>
                <div class="form_error_text cart_count_error">Поле должно быть более нуля</div>
                <div class="marginTop"></div>
                <div class="row marginTop">
                    <div class="large-6 columns">
                        <input type="submit" value="Добавить" class="button success add_items no_follow"/>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{% url 'stock' %}" class="button"/>Отменить</a>&nbsp;&nbsp;&nbsp;
                        <img class="spinner" src="{% static 'img/loader.gif' %}" />
                    </div>
                </div>
            </form>
        </div>
        <div class="large-6 column">
            <div class="session_data"></div>
        </div>
    </div>
{% endblock %}
