{% extends "index/base.html" %}
{% block title %}Добавление нового контрагента{% endblock %}
{% block h3 %}Добавление нового контрагента{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="marginTop"></div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <input type="submit" value="Добавить" class="button success" />
            <a class="button" href="{{ back }}">Вернуться</a>
        </form>
    </div>
</div>
{% endblock %}
