{% extends "index/base.html" %}{% load i18n %}
{% load pagination  %}
{% block title %}{% trans "Cartridges on rebuilding" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / {% trans "Cartridges on rebuilding" %}{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-12 columns">
        <a class="from_firm_to_stock button" href="#">{% trans "Return to the stock" %}</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <form>
            <table class="checkboxes">
                <tr>
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">{% trans "Number" %} {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}"  /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">{% trans "Name" %} {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">{% trans "Amount<br/>recovery" %} {{count_triangle}}</a></th>
                    <th class="cart_date{% if select_date %} active_cell{% endif %}"><a href="?action=change_date">{% trans "Date transfer on recovery" %} {{datec_triangle}}</a></th>
                    <th class="firm_filled">{% trans "refueller" %}</th>
                    <th class="actions">{% trans "comment" %}</th>
                </tr>
                {% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.pk }}"></td>
                        <td>{{ i.cart_number }}</td>
                        <td>{{ i.cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td>{{ i.cart_date_change|date:"d.m.Y" }}</td>
                        <td>{{ i.filled_firm }}</td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:25 }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>
{% found_pagination cartrjs size_perpage %}
{% endblock %}
