<!DOCTYPE html>{% load staticfiles %}{% load i18n %}
<html lang="{% trans 'lang' %}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<title>{% trans "Upgrade your browser!" %}</title>
</head>
<body>
<div class="center_panel">
    <div class="header">{% trans "Attention! You are using an outdated browser." %}</div>
    <p>{% trans "We strongly recommend that you install the new version of one of the listed browsers." %}</p>
    <div class="brow_list">
        <div class="bl">
            <div class="pic">
                <a href="http://www.google.com/chrome"><img src="{{ STATIC_URL }}img/brow/chrome.png"/></a>
            </div>
            <p><a href="http://www.google.com/chrome">Google Chrome</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://www.mozilla.org/firefox"><img src="{{ STATIC_URL }}img/brow/firefox.png"/></a>
            </div>
            <p><a href="http://www.mozilla.org/firefox">Mozilla Firefox</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie"><img src="{{ STATIC_URL }}img/brow/ie.png"/></a>
            </div>
            <p><a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">Internet Explorer</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://www.opera.com/download"><img src="{{ STATIC_URL }}img/brow/opera.png"/></a>
            </div>
            <p><a href="http://www.opera.com/download">Opera</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://www.apple.com/safari/download"><img src="{{ STATIC_URL }}img/brow/safari.png"/></a>
            </div>
            <p><a href="http://www.apple.com/safari/download">Apple Safari</a></p>
        </div>
    </div>
    <div>
        <h3></h3>
    </div>
</div>
</body>
</html>
