{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<title>Обновите браузер!</title>
</head>
<body>
<div class="center_panel">
    <div class="header">Внимание! Вы пользуетесь устаревшим браузером.</div>
    <p>Мы настоятельно рекомендуем Вам установить новую версию одиного из перечисленных браузеров.</p>
    <div class="brow_list">
        <div class="bl">
            <div class="pic">
                <a href="http://www.google.com/chrome"><img src="{% static 'img/brow/chrome.png' %}"/></a>
            </div>
            <p><a href="http://www.google.com/chrome">Google Chrome</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://www.mozilla.org/firefox"><img src="{% static 'img/brow/firefox.png' %}"/></a>
            </div>
            <p><a href="http://www.mozilla.org/firefox">Mozilla Firefox</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie"><img src="{% static 'img/brow/ie.png' %}"/></a>
            </div>
            <p><a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">Internet Explorer</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://www.opera.com/download"><img src="{% static 'img/brow/opera.png' %}"/></a>
            </div>
            <p><a href="http://www.opera.com/download">Opera</a></p>
        </div><!--
     --><div class="bl">
            <div class="pic">
                <a href="http://www.apple.com/safari/download"><img src="{% static 'img/brow/safari.png' %}"/></a>
            </div>
            <p><a href="http://www.apple.com/safari/download">Apple Safafi</a></p>
        </div>
    </div>
    <div>
        <h3></h3>
    </div>
</div>
</body>
</html>
