<!DOCTYPE html>{% load staticfiles %}{% load i18n %}{% load cache %}
<html lang="{% trans 'lang' %}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <link href="{{ STATIC_URL }}img/favicon.ico?{{request.CACHEVERSION}}" rel="shortcut icon" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?{{request.CACHEVERSION}}" />
    <script src="{{ STATIC_URL }}js/detect.js?{{request.CACHEVERSION}}"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    {% block jqueryui %}{% endblock %}
    <script src="/dhtml/common.js?{{request.CACHEVERSION}}"></script>
    <script src="/dhtml/logic.js?{{request.CACHEVERSION}}{{request.LANGUAGE_CODE}}"></script>
    <title>{% block title %}{% endblock %}</title>
    <noscript>
        <meta http-equiv="refresh" content="3; url={% url 'index:bad_browser' %}"/>
    </noscript>
</head>
<body>
<div class="wrapper">
    {% cache 600 topmenu request.user.username request.LANGUAGE_CODE %}
    <header class="header">
        <div class="marginTop">
            <div class="left logo">{% if request.SHOW_COPYRIGHT %}<a href="/"><img src="{{ STATIC_URL }}img/logo.png?2d" /></a>{% endif %}</div>
            <div class="right submenu">
            <span class="user_ou" title="{{request.user.departament}}">{% if request.user.departament %}{{request.user.departament|truncatechars:100}}{% endif %}</span>&nbsp;&nbsp;<select class="language_selector" name="languge"><option {% if request.LANGUAGE_CODE == 'ru' %}selected{% endif %} value="ru">Русский</option><option {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %} value="en">English</option></select>&nbsp;&nbsp;{{request.user.get_username}}&nbsp;&nbsp;<a href="{% url 'auth:logout' %}">{% trans "Exit" %}</a>
        </div>
    </header><!-- .header-->
    {% endcache %}
    <div class="middle">
        <div class="container">
            <main class="content">
                <div class="row">
                    <div class="large-10 columns marginTop">
                        <div class="breads">{% block breadcrumbs %}{% endblock %}</div>
                    </div>
                    <div class="large-2 columns marginTop text-right">
                        {% if request.SHOW_HELP %}
                        <a class="button info margin-zero" href="{% block help_url %}{% endblock %}" target="_blank">{% trans 'Help' %}</a>{% endif %}
                    </div>
                </div>
                <div class="marginTop"></div>
                {% block submenu %}{% endblock %}
                {% block content %}{% endblock %}
            </main><!-- .content -->
        </div><!-- .container-->
        {% cache 600 submenu request.LANGUAGE_CODE %}
        <aside class="left-sidebar">
            {% include "index/base_menu.html" %}
        </aside><!-- .left-sidebar -->
        {% endcache %}
    </div><!-- .middle-->
</div>
    {% cache 600 footer request.LANGUAGE_CODE %}
    <footer class="footer">
    <div class="text_in_footer">{% if request.SHOW_COPYRIGHT %}<span class="left donate_link"><a href="http://www.severcart.org/donate/">{% trans 'Thanks' %}</a></span>{% endif %}{% trans "Version" %}: {{ request.VERSION }}{% if request.SHOW_COPYRIGHT %}&nbsp;&nbsp;&nbsp;&copy;&nbsp;&nbsp;&nbsp;<a href="{{ request.HOME_SITE }}">www.severcart.org</a>&nbsp;&nbsp;&nbsp;{{ request.YEAR }} <span class="right support_request"><a href="http://www.severcart.org/support/{{ request.LANGUAGE_CODE }}/">{% trans 'Request tech support' %}</a></span>{% endif %}</div>
    </footer>
    {% endcache %}
</body>
</html>