<div class="row">
    <div class="large-12 columns">
        <nav class="top-bar" data-topbar>
            <section class="top-bar-section">
                <ul class="left">
                    <li class="name"><h1><a href="/">Домой</a></h1></li>
                    <li class="name"><h1><a href="/blank/">Пустые</a></h1></li>
                    <li class="name"><h1><a href="/blank/">На заправке</a></h1></li>
                    <li class="name"><h1><a href="/add_type/">Добавить новый тип</a></h1></li>
                    <li class="name"><h1><a href="/add_owner/">Добавить владельца</a></h1></li>
                </ul>
            </section>
        </nav>
    </div>
</div>