{% load filters %}{% load i18n %}
<div class="vertical_menu">
    <div class="row">
        <div class="large-12 columns black-bg">
            <ul class="menu">
                <li class="{% navactive request 'dashboard' %}"><a href="{% url 'dashboard' %}">{% trans "Main" %}</a></li>
                <li class="{% navactive request 'stock' %}"><a href="{% url 'stock' %}">{% trans "Filled" %}</a></li>
                <li class="{% navactive request 'use' %}"><a href="{% url 'use' %}">{% trans "Installed" %}</a></li>
                <li class="{% navactive request 'empty' %}"><a href="{% url 'empty' %}">{% trans "Empty" %}</a></li>
                <li class="{% navactive request 'at_work' %}"><a href="{% url 'at_work' %}">{% trans "On restoration" %}</a></li>
                <li class="{% navactive request 'basket' %}"><a href="{% url 'basket' %}">{% trans "Basket" %}</a></li>
                <li class="{% navactive request 'service:submenu' %}"><a href="{% url 'service:submenu' %}">{% trans "Service" %}</a></li>
                <li class="{% navactive request 'auth:manage_users' %} {% navactive request 'tree_list' %} {% navactive request 'toner_refill' %} {% navactive request 'docs:handbook' %}"><a href="{% url 'docs:handbook' %}">{% trans "References" %}</a></li>
                <li class="search">
                    <form action="{% url 'find:search' %}" method="GET">
                        <input class="search_query" type="text" name="query" value="{% trans 'Find by number' %}" />
                        <input type="submit" class="search_button" value="?" />
                    </form>
                </li>

            </ul>
        </div>
    </div>
</div>
