<!DOCTYPE html>{% load staticfiles %}{% load i18n %}
<html lang="{% trans 'lang' %}">
<head>
    <meta charset="utf-8" />
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?24" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/superfish.css?4" />
    <script src="{{ STATIC_URL }}js/detect.js?6"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/superfish.min.js"></script>
    <script src="{{ STATIC_URL }}js/activatesuperfish.js?3"></script>
    {% block jqueryui %}{% endblock %}
    <script src="{{ STATIC_URL }}js/logic.js?62"></script>
    <title>{% block title %}{% endblock %}</title>
    <noscript>
        <meta http-equiv="refresh" content="3;url={% url 'bad_browser' %}"/>
    </noscript>
</head>
<body class="all">
    <div class="main_content">
        {% include "index/base_menu.html" %}
        <div class="row">
            <div class="large-12 columns marginTop"></div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <div class="breads">{% block breadcrumbs %}{% endblock %}</div>
            </div>
            <div class="large-4 columns text-right">
                <span class="user_ou">{% if request.user.departament %}{{request.user.departament}}{% endif %}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ request.user.get_username }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'auth:logout' %}">{% trans "Exit" %}</a>
            </div>
        </div>
        <div class="marginTop"></div>
        {% block submenu %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <div class="text_in_footer">{% trans "Version" %}: 0.0.40&nbsp;&nbsp;&nbsp;&copy;&nbsp;&nbsp;&nbsp;<a href="http://servercart.org">servercart.org</a>&nbsp;&nbsp;&nbsp;2016</div>
    </div>
</body>
</html>
