{% extends "index/base.html" %}{% load i18n %}
{% load staticfiles %}
{% load pagination  %}
{% block title %}{% trans "Basket" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / {% trans "Basket" %}{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-6 columns">
        <a class="from_basket_to_stock button" href="#">{% trans "Return to the stock" %}</a>
        <a class="turf button alert" href="#">&nbsp;&nbsp;{% trans "Delete" %}&nbsp;&nbsp;</a>
        <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
    </div>
    <div class="large-6 columns text-right">
        <img class="export_spinner" src="{{ STATIC_URL }}img/loader.gif" />
        <a class="export_to_csv button no_follow" href="#" view="{{ view }}">{% trans "Export to CSV" %}</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr>
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">{% trans "Number" %} {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}" /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">{% trans "Name" %} {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">{% trans "Amount<br/>recovery" %} {{count_triangle}}</a></th>
                    <th class="cart_date{% if select_date %} active_cell{% endif %}"><a href="?action=change_date">{% trans "Date return in basket" %} {{datec_triangle}}</a></th>
                    <th>{% trans "comment" %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
                {% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.pk }}"></td>
                        <td>{{ i.cart_number }}</td>
                        <td>{{ i.cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td>{{ i.cart_date_change|date:"d.m.Y" }}</td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:40 }}</div></td>
                        <td><select class="cartridge_action" data="{{ i.pk }}">
                            <option selected></option>
                            <option value="edit">{% trans "Edit a comment" %}</option>
                            <option value="view_events">{% trans "Event viewer" %}</option>
                            <option value="view_delivery" data="{{ i.delivery_doc }}">{% trans "Delivery agreement" %}</option>
                        </select>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>

    </div>
</div>
{% found_pagination cartrjs size_perpage %}
{% endblock %}
