{% extends "index/severcartcbv.html" %}
{% load staticfiles %}
{% block title %}Кариджи на выброс{% endblock %}
{% block h3 %}Кариджи на выброс{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-12 columns">
        <a class="from_basket_to_stock button" href="#">Вернуть на склад</a>
        <a class="turf button alert" href="#">&nbsp;&nbsp;Списать&nbsp;&nbsp;</a>
        <img class="spinner" src="{% static 'img/loader.gif' %}" />
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
{% endblock %}
