{% extends "index/base.html" %}{% load i18n %}{% load pagination  %}{% load tz %}
{% block title %}{% trans "List buffered cartridges" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / {% trans "List buffered cartridges" %}{% endblock %}
{% block jqueryui%}<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.powertip-dark.min.css" />
<script src="{{ STATIC_URL }}js/jquery.powertip.min.js"></script>
<script src="{{ STATIC_URL }}js/activate.powertip.js?{{request.CACHEVERSION}}"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>
{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/bufer/
{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-6 columns">
        <div class="error_msg"></div>
        <div class="success_msg"></div>
    </div>
</div>
{% if messages %}
    <div class="row">
        <div class="large-6 columns">
            {% for message in messages %}
                <div class="success_msg" style="display:block">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="large-7 columns">
        <a class="button no_follow generate_pdf" href="#" data="bufer">{% trans "Print PDF" %}</a>
        <a class="button no_follow remove_from_bufer" href="#">{% trans "Delete item" %}</a>
        <a class="button no_follow clear_bufer" href="#">{% trans "Clear bufer" %}</a>
        <img class="spinner" src="/static/img/loader.gif">
        <a class="download_pdf" href="#">{% trans "Download" %}</a>
        <img class="spinner_pdf" src="{{ STATIC_URL }}img/loader.gif" />
    </div>
    <div class="large-5 columns text-right">
        
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr class="table_header">
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">{% trans "Number" %} {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}"  /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">{% trans "Name" %} {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">{% trans "Amount<br/>recovery" %}{{count_triangle}}</a></th>
                    <th>{% trans "Storage" %}</th>
                    <th>{% trans "comment" %}</th>
                </tr>
                {% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.id }}" cart_number="{{ i.cart_number }}" /></td>
                        <td class="cart_number_for_tip" data-powertip="{{ i.cart_number }}">{{ i.cart_number|truncatechars:request.TRLEN }}</td>
                        <td>{{ i.cart_itm_name__cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td><span data-powertip="{% if i.stor__title %}{{ i.stor__title }} {{ i.stor__address }}{% endif %}" class="info_ico"></span></td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:34 }}</div></td>
                    </tr>
                {% endfor %}
            </form>
        </table>
    </div>
</div>
{% include "index/change_number_modal.html" %}
{% found_pagination cartrjs size_perpage request %}
{% endblock %}
