{% extends "index/base.html" %}{% load i18n %}{% load staticfiles %}
{% block title %}{% trans "Stocks of consumables" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> /{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/dashboard/
{% endblock %}
{% block content %}
{% if none_secure %}
<div class="row">
    <div class="large-6 columns">
        <div class="error_msg" style="display:block">{% trans 'For security purposes, change the password to access the database!' %}</div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="large-6 columns">
        <h4>{% trans "Desktop" %}</h4>
        <table class="dashboard">
            <tbody>
            <tr>
                <td class="pic"><img src="{{ STATIC_URL }}img/dashboard/stock.png?1" /></td>
                <td>{% trans "Quantity in stock (usable)" %}</td>
                <td class="quad">{{ full_on_stock }}</td>
            </tr>
            <tr>
                <td class="pic"><img src="{{ STATIC_URL }}img/dashboard/uses.png?1" /></td>
                <td>{% trans "The number of installed" %}</td>
                <td class="quad">{{ uses }}</td>
            </tr>
            <tr>
                <td class="pic"><img src="{{ STATIC_URL }}img/dashboard/empty.png?1" /></td>
                <td>{% trans "Number of empty, ready to recharge" %}</td>
                <td class="quad">{{ empty_on_stock }}</td>
            </tr>
            <tr>
                <td class="pic"><img src="{{ STATIC_URL }}img/dashboard/filled.png?1" /></td>
                <td>{% trans "Now dressed" %}</td>
                <td class="quad">{{ filled }}</td>
            </tr>
            <tr>
                <td class="pic"><img src="{{ STATIC_URL }}img/dashboard/rbin.png?1" /></td>
                <td>{% trans "In basket (count)" %}</td>
                <td class="quad">{{ recycler_bin }}</td>
            </tr>
            </tbody>
        </table>
        <h4>{% trans "Spending cartridges" %}</h4>
        <table class="statistics">
            <tbody>
            <tr>
                <td>{% trans "For the current day" %}</td>
                <td class="text-center">{{ use_day }}</td>
            </tr>
            <tr>
                <td>{% trans "Since the beginning of the month" %}</td>
                <td class="text-center">{{ use_month }}</td>
            </tr>
            <tr>
                <td>{% trans "Since the beginning of the year" %}</td>
                <td class="text-center">{{ use_year }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="large-6 columns">
        <h4>{% trans "Events" %}</h4>
        <div class="dashboard_events"></div>
    </div>
        
</div>
<div class="row">
    <div class="large-6 columns">
        
    </div>
</div>
{% endblock %}
