{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Removal company" %}{% endblock %}
{% block h3 %}{% trans "You sure you want to remove the service companies with the parameters:" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <table>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Contacts" %}</th>
                    <th>{% trans "Address" %}</th>
                    <th>{% trans "Comments" %}</th>
                </tr>
                <tr>
                    <td>{{ firm.firm_name }}</td>
                    <td>{{ firm.firm_contacts }}</td>
                    <td>{{ firm.firm_address }}</td>
                    <td>{{ firm.firm_comments }}</td>
                </tr>
            </table>
        </div>
        <div class="large-6 columns">
            <form action="" method="POST">
                {% csrf_token %}
                <input name="id" value="{{ firm.id }}" type="hidden" />
                <input type="submit" value="Удалить" class="button"/>
            </form>
            <a href="/toner_refill/" class="button">{% trans "Back" %}</a>
        </div>
    </div>
{% endblock %}
