{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Edit the comment text" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / {% trans "Edit the comment text" %}{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/edit_comment/
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="marginTop">
            <input type="submit" value="{% trans 'Save and close' %}" class="button success" />
            <a href="{{ back }}" class="button">{% trans "Back" %}</a>
        </div>
    </form>
    </div>
</div>
{% endblock %}
