{% extends "index/base.html" %}
{% block title %}Редактирование текста комментария{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
        	<div class="large-6 columns">
        		<input type="submit" value="Сохранить" class="button success" />&nbsp;&nbsp;&nbsp;
        		<a href="{% url 'stock' %}" class="button">Отменить</a>&nbsp;&nbsp;&nbsp;
        	</div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
