{% extends "index/base.html" %}
{% block title %}Пустые расходники{% endblock %}
{% block h3 %}Пустые расходники{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <a class="tr_to_firm button" href="#">Передать на заправку</a>
        <a class="tr_to_recycle_bin button" href="#">В корзину</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
        <form>
        <tr>
            <th>&nbsp;</th>
            <th>Номер</th>
            <th>Наименование</th>
            <th>Кол-во перезаправок</th>
        </tr>
        {% for i in cartrjs %}
        <tr>
            <td><input type="checkbox" value="{{i.id}}"></td>
            <td>{{ i.id }}</td>
            <td>{{ i.cart_itm_name }}</td>
            <td>{{ i.cart_number_refills }}</td>
        </tr>
        {% endfor %}
        </form>
        </table>
        {% endblock %}
    </div>
</div>
