
    <div class="row">
        <div class="large-12 columns">
            {% if items.paginator.num_pages > 1 %}
            <ul class="pagination left">
                {% if items.has_previous %}
                    <li class="arrow"><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><!-- <a href="">&laquo;</a> --></li>
                {% endif %}
                {% for page in items.paginator.page_range %}
                    {% if page == items.number %}
                        <li class="current"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <li class="arrow"><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><!-- <a href="">&raquo;</a> --></li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="page_size right">
                <li><a{% if spp == '12' %}class="current"{% endif %} href="?page_size=12">12</a></li>
                <li><a{% if spp == '24' %}class="current"{% endif %} href="?page_size=24">24</a></li>
                <li><a{% if spp == '48' %}class="current"{% endif %} href="?page_size=48">48</a></li>
                <li><a{% if spp == '10000000' %}class="current"{% endif %} href="?page_size=10000000">Все</a></li>
            </ul>
        </div>
    </div>

