{% extends "index/base.html" %}{% load i18n %}
{% load filters %}
{% block title %}{% trans "Return cartridge to the stock" %}{% endblock %}
{% block h3 %}{% trans "Return cartridge to the stock" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'index:at_work' %}">{% trans "Cartridges on rebuilding" %}</a> / {% trans "Return cartridge to the stock" %}{% endblock %}
{% block jqueryui%}
<script src="/dhtml/validate_money.js?{{request.CACHEVERSION}}"></script>
{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/from_firm_to_stock/
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form action="" method="POST" class="firm_work">
        {% csrf_token %}
        <input name="checked_cartr" type="hidden" value="{{ checked_cartr }}" readonly/>
        <input name="list_length" type="hidden" value="{{ list_length }}" readonly/>
        <table class="actions_firm">
        <tr>
        <th class="cart_number">{% trans "Number" %}</th>
        <th class="action_type">{% trans "Name" %}</th>
        <th class="all_regeneration"><input type="checkbox" name="regeneration" id="regeneration" class="header_checkbox" checked/><label for="regeneration">{% trans "Regeneration" %}</label></th>
        <th class="all_filled"><input type="checkbox" name="filled" id="filled" class="header_checkbox" /><label for="filled">{% trans "Filling<br/> and cleaning" %}</label></th>
        <th class="all_fotoreceptor"><input type="checkbox" name="fotoreceptor" id="fotoreceptor" /><label for="fotoreceptor">{% trans "Replacing <br/> fotovala" %}</label></th>
        <th class="all_rakel"><input type="checkbox" name="rakel" id="rakel" /><label for="rakel">{% trans "Replacement<br/>squeegee" %}</label></th>
        <th class="all_chip"><input type="checkbox" name="chip" id="chip" /><label for="chip">{% trans "Replacement<br/>chip" %}</label></th>
        <th class="all_magnit"><input type="checkbox" name="magnit" id="magnit" /><label for="magnit">{% trans "Replacing<br/>the magnetic roller" %}</label></th>
        <th class="all_money">{% trans "Service cost" %}, <br/>{% trans "Currency" %}</label></th>
        </tr>
        {% for elem in list_cart %}
        <tr>
        <td>{{ elem.cart_number }}</td>
        <td>{{ elem.cart_itm_name }}</td>
        <td><input type="checkbox" class="regeneration" name="cart_{{elem.pk}}" value="regeneration" checked/></td>
        <td><input type="checkbox" class="filled" name="cart_{{elem.pk}}" value="filled"/></td>
        <td><input type="checkbox" class="fotoreceptor" name="cart_{{elem.pk}}" value="fotoreceptor"/></td>
        <td><input type="checkbox" class="rakel" name="cart_{{elem.pk}}" value="rakel"/></td>
        <td><input type="checkbox" class="chip" name="cart_{{elem.pk}}" value="chip"/></td>
        <td><input type="checkbox" class="magnit" name="cart_{{elem.pk}}" value="magnit"/></td>
        <td class="money_wrapper"><input type="text" class="money" name="cart_{{elem.pk}}" value="0" autocomplete="off"/><div class="money_validate"><div class="err_arrow"></div><div class="err_content"></div></div></td>
        </tr>{% endfor %}
        </table>
        <input type="submit" value="{% trans 'Return to stock' %}" class="button return_to_stock"/>
        <a class="button" href="{{ back }}">{% trans "Back" %}</a>
        </form>
    </div>
</div>
{% endblock %}
