{% extends "index/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}{% trans "Adding objects to the stock with barcode scanner" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'index:at_work' %}">{% trans "Cartridges on rebuilding" %}</a> / {% trans "Return cartridge to the warehouse with a bar code scanner" %}{% endblock %}
{% block jqueryui %}
<!--
<script src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
<script src="{{ STATIC_URL }}js/hotkeys_bind.js?{{request.CACHEVERSION}}"></script>
-->
{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/from_firm_to_stock_with_barcode/
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <div class="success_msg"></div>
            <div class="error_msg"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="post">
                {% csrf_token %}
                <div class="show_remove_session_div" {% if show_list %}style="display:block"{% else %}style="display:none"{% endif %}>
                    <a class="button alert no_follow remove_session_item" session_key="basket_to_transfer_stock">Удалить</a>
                </div>
                <div class="marginTop"></div>
                {{ form.numbers }}
                <div class="wrapper_for_transfer_table"{% if show_list %} style="display:block" {% else %}style="display:none"{% endif %}>
                    <label class="required">{% trans 'That pass' %}</label>
                    <table class="width100 transfer_list" >
                    <tr>
                        <td>&nbsp;</td>
                        <th class="width100px">{% trans 'Number' %}</th>
                        <th>{% trans 'Name' %}</th>
                    </tr>
                    {% for item in show_list %}
                    <tr class="remove{{ item.pk }}">
                        <td><input name="pk" type="checkbox" value="{{ item.pk }}" /></td>
                        <td class="width100px">{{ item.cart_number }}</td>
                        <td>{{ item.cart_name }}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
                <label>{% trans 'Scanning number' %}</label>
                <!-- <input class="barcode" id="id_cartNumber" maxlength="256" name="cartNumber" type="text"  readonly=""> -->
                {{ form.number }}
                <div class="form_error_text cart_number_error">{% trans "Required field" %}</div>
                <div class="marginTop"></div>
                
                <!--
                <label class="required marginTop" for="{{ form.storages.id_for_label }}">{% trans "Storage" %}</label>
                <div class="input_row">
                    {{ form.storages }} <a class="dj_button add" href="{% url 'storages:add_s' %}"></a>
                </div>
                <div class="form_error_text cart_sklad_error">{% trans "The field must be seleced" %}</div>
                -->
                <div class="marginTop">
                    <a class="button no_follow set_focus">{% trans 'Set focus' %}</a>
                    <a class="button success move_from_firm_to_stock no_follow">{% trans "Move" %}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ back }}" class="button"/>{% trans "Back" %}</a>&nbsp;&nbsp;&nbsp;
                    {% if mydebug %}<a href="" class="button no_follow dbg_firm_to_stock"/>{% trans "Debug" %}</a>&nbsp;&nbsp;&nbsp;{% endif %}
                    <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
                </div>
            </form>
        </div>
        <div class="large-6 column">
            <div class="from_firm_to_stock_with_barcode"></div>
        </div>
    </div>
{% endblock %}
