{% extends "index/base.html" %}
{% block title %}Справочники{% endblock %}
{% block h3 %}Справочники{% endblock %}
{% block submenu %}{% endblock %}
{% block content %}
<div class="row">
    <div class="small-4 columns">
        <p><a href="{% url 'accounts:manage_users' %}">Пользователи</a></p>
        <p><a href="{% url 'tree_list' %}">Структура организации</a></p>
        <p><a href="{% url 'toner_refill' %}">Контрагенты</a></p>
    </div>
    <div class="small-4 columns">
        <p><a href="#">Договора на обслуживание</a></p>
        <p><a href="#">Договора на поставку</a></p>
        <p><a href="#">Акты на списание</a></p>
    </div>
    <div class="small-4 columns">
        <p><a href="#">Список названий расходников</a></p>
        <p><a href="#"></a></p>
        <p><a href="#"></a></p>
    </div>
</div>
{% endblock %}
