{% extends "index/base.html" %}
{% block title %}Наличие материальных запасов{% endblock %}
{% block content %}
<div class="row">
      <div class="large-12 columns">
        <h1>Наличие материальных запасов</h1>
      </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <a class="add_items button radius small" href="/add_items/">Добавить расходники</a>
        <a class="tr_for_use button radius small" href="#">Передать в пользование</a>
        <a class="tr_to_recycle_bin button radius small" href="#">Отправить на утилизацию</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
        <form>
        <tr>
            <th>&nbsp;</th>
            <th>Уникальны номер</th>
            <th>Наименование</th>
            <th>Дата добавления</th>
        </tr>
        {% for i in cartrjs %}
        <tr>
            <td><input type="checkbox" value="{{i.id}}"></td>
            <td>{{ i.id }}</td>
            <td>{{ i.cart_name }}</td>
            <td>{{ i.cart_date_added }}</td>
        </tr>
        {% endfor %}
        </form>
        </table>
        {% endblock %}
    </div>
</div>