{% extends "index/base.html" %}{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "User management" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'docs:handbook' %}">{% trans "References" %}</a> / {% trans "User management" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <div class="success_msg"></div>
        <div class="error_msg"></div>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <a class="add_user button success" href="{% url 'accounts:register' %}">{% trans "Add" %}</a>
        <a class="edit_user button" href="#">{% trans "Edit" %}</a>
        <a class="del_user button alert" href="#">{% trans "Delete" %}</a>
        <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
    </div>
</div>
<div class="row marginTop">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr>
                    <th>&nbsp;</th>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Login" %}</th>
                    <th>{% trans "E-Mail" %}</th>
                    <th>{% trans "Organization unit" %}</th>
                    <th>{% trans "Admin?" %}</th>
                </tr>
                {% for i in urs %}
                    <tr class="userid-{{ i.id }}">
                        <td><input type="radio" value="{{ i.id }}" name="user_id"></td>
                        {% if i.fio %}
                            <td>{{ i.fio }}</td>
                        {% else %}
                            <td>&nbsp;&nbsp;&nbsp;</td>
                        {% endif %}
                        <td>{{ i.username }}</td>
                        {% if i.email %}
                            <td>{{ i.email }}</td>
                        {% else %}
                            <td>&nbsp;&nbsp;&nbsp;</td>
                        {% endif %}
                        {% if i.departament %}
                            <td>{{ i.departament }}</td>
                        {% else %}
                            <td>&nbsp;&nbsp;&nbsp;</td>
                        {% endif %}
                        {% if i.is_admin %}
                            <td>{% trans "Yes" %}</td>
                        {% else %}
                            <td>{% trans "No" %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </form>
        </table>
    </div>
</div>
{% endblock %}
