{% extends "index/base.html" %}
{% load pagination  %}
{% block title %}Управление пользователями{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Управление пользователями</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <a class="add_user button radius tiny secondary" href="{% url 'accounts:register' %}">Добавить</a>
            <a class="edit_user button radius tiny secondary" href="{% url 'accounts:edit' %}">Редактировать</a>
            <a class="del_user button radius tiny secondary" href="{% url 'accounts:del' %}">Удалить</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table class="checkboxes">
                <form>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Пользователь</th>
                        <th>Логин</th>
                        <th>Организация</th>
                    </tr>
                    {% for i in urs %}
                        <tr>
                            <td><input type="checkbox" value="{{ i.id }}"></td>
                            <td>{{ i.last_name }} {{i.first_name }} {{ i.patronymic }}</td>
                            <td>{{ i.username }}</td>
                            <td>{{ i.departament }}</td>
                        </tr>
                    {% endfor %}
                </form>
            </table>

        </div>
    </div>

    {% found_pagination urs %}

{% endblock %}

