{% extends "index/base.html" %}{% load i18n %}
{% load pagination  %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr>
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">{% trans "Number" %} {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}"  /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">{% trans "Name" %} {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">{% trans "Amount" %}<br/>{% trans "recovery" %} {{count_triangle}}</a></th>
                    <th class="cart_date{% if select_change_date %} active_cell{% endif %}"><a href="?action=change_date">{% trans "Date add" %} {{datec_triangle}}<br/>{% trans "on stock" %}</a></th>
                    <th>{% trans "comment" %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
                {% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.id }}"></td>
                        <td>{{ i.cart_number }}</td>
                        <td>{{ i.cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td>{{ i.cart_date_change }}</td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:40 }}</div></td>
                        <td><select class="cartridge_action" data="{{ i.pk }}">
                            <option selected></option>
                            <option value="edit">{% trans "Edit a comment" %}</option>
                            <option value="view_events">{% trans "Event viewer" %}</option>
                            <option value="view_delivery" data="{{ i.delivery_doc }}">{% trans "Delivery agreement" %}</option>
                        </select>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>

    </div>
</div>
{% found_pagination cartrjs size_perpage  %}
{% endblock %}
