{% extends "index/base.html" %}
{% load pagination  %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr>
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">Номер {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}"  /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">Название {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">Кол-во<br/>перезаправок {{count_triangle}}</a></th>
                    <th class="cart_date{% if select_date %} active_cell{% endif %}"><a href="?action=dataadd">Дата добавления {{date_triangle}}<br/>на склад</a></th>
                    <th>Комментарий</th>
                    <th class="actions">Действие</th>
                </tr>
                {% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.id }}"></td>
                        <td>{{ i.cart_number }}</td>
                        <td>{{ i.cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td>{{ i.cart_date_added }}</td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:40 }}</div></td>
                        <td><select class="cartridge_action" data="{{ i.pk }}">
                            <option selected></option>
                            <option value="edit">Редактировать</option>
                            <option value="view_events">Просмотр событий</option>
                        </select>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>

    </div>
</div>

{% found_pagination cartrjs size_perpage  %}

{% endblock %}

