{% extends "index/base.html" %}{% load i18n %}
{% load filters %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="POST">
                {% csrf_token %}
                <label class="required">{% trans "What transfe" %}</label>
                <input name="name" type="text"  value="{{checked_cartr }}"  readonly/>
                <input type="submit" value="{% trans 'In basket' %}" class="button"/>
            </form>
        </div>
    </div>
{% endblock %}
