{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Transfer cartridges refills" %}{% endblock %}
{% block h3 %}{% trans "Transfer cartridges refills" %}{% endblock %}

{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'use' %}">{% trans "Consumables in use" %}</a> / {% trans "Transfer cartridges refills" %}{% endblock %}
{% load filters %}
{% block content %}
    <!-- 
    <div class="row">
        <div class="large-6 columns">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    -->
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="POST">
                {% csrf_token %}
                <label class="required">{% trans "What transfe" %}</label>
                {{ form.numbers }}
                <table>
                <tr>
                    <td>{% trans 'Number' %}</td>
                    <td>{% trans 'Name' %}</td>
                </tr>
                {% for item in checked_cartr %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>{{ item.name }}</td>
                </tr>
                {% endfor %}
                </table>
                <div class="marginTop">
                    <div class="input_row">
                        <label class="required marginTop">{% trans "Which company" %}</label>
                        {{ form.firms }}<a class="add" href="{% url 'add_firm' %}"></a>
                    </div>
                </div>
                <div class="marginTop">
                    <div class="input_row">
                        <label class='required marginTop' for="{{ form.doc.id_for_label }}">{% trans "Service agreement" %}</label>
                        {{ form.doc }}<a class="add" href="{% url 'docs:delivery' %}"></a>
                    </div>
                </div>
                <div class='marginTop'>
                     <label for="{{ form.price.id_for_label }}">{% trans "Price" %}</label>
                        {{ form.price }}
                </div>
                <div class="marginTop">
                    <input type="submit" value="{% trans 'Transfer to repair' %}" class="button"/>
                    <a class="button no_follow back">{% trans "Cansel" %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}