{% extends "index/base.html" %}{% load i18n %}
{% load filters %}
{% block title %}{% trans "Transfer of use" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'stock' %}">{% trans "List of new or refilled cartridges" %}</a> / {% trans "Transfer of use" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="POST">
                {% csrf_token %}
                <label class="required">{% trans "What transfe" %}</label>
                <input name="name" type="text"  value="{{checked_cartr }}"  readonly/>
                <label class="required marginTop">{% trans "To pass" %}</label>
                <select size="1" name="par_id">
                    {% for i in bulk %}
                        {% if forloop.counter == 1 %}
                            <option selected disabled>&nbsp;&nbsp;&nbsp;</option>
                            <option value="{{ i.id }}">{{ i.level | nbsp }}{{ i.name }}</option>
                        {% else %}
                            <option value="{{ i.id }}">{{ i.level | nbsp }}{{ i.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="marginTop">
                    <input type="submit" value="{% trans 'Transfer to' %}" class="button"/>
                    <a class="button no_follow back">{% trans 'Back' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
