{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Transfer cartridges refills" %}{% endblock %}
{% block h3 %}{% trans "Transfer cartridges refills" %}{% endblock %}
{% load filters %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="POST">
                {% csrf_token %}
                <label class="required">{% trans "What transfe" %}</label>
                <input name="name" type="text"  value="{{ checked_cartr }}"  readonly/>
                <label class="required marginTop">{% trans "Which company" %}</label>
                <select name="firm">
                    <option selected value="0"> </option>
                {% for etm in firms %}
                    <option value={{ etm.id }}>{{ etm.firm_name }}</option>
                {% endfor %}
                </select>
                <div class="marginTop">
                    <label class="marginTop"><input type="checkbox" name="gen_act" />&nbsp;&nbsp;{% trans "Generate an act of transmission?" %}</label>
                </div>
                <div class="marginTop">
                    <input type="submit" value="{% trans 'Transfer to repair' %}" class="button"/>
                    <a class="button no_follow back">{% trans "Cansel" %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}