{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Transfer cartridges refills" %}{% endblock %}
{% block h3 %}{% trans "Transfer cartridges refills" %}{% endblock %}

{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'index:use' %}">{% trans "Consumables in use" %}</a> / {% trans "Transfer cartridges refills" %}{% endblock %}
{% load filters %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/transfer_to_firm/
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <div class="success_msg"></div>
            <div class="error_msg"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="POST" class="transfer_to_firm">
                {% csrf_token %}
                <label class="required">{% trans "What transfe" %}</label>
                {{ form.numbers }}
                <table class="width100">
                <tr>
                    <th>{% trans 'Number' %}</th>
                    <th>{% trans 'Name' %}</th>
                </tr>
                {% for item in transfe_objs %}
                <tr>
                    <td title="{{ item.cart_number }}">{{ item.cart_number|truncatechars:request.TRLEN }}</td>
                    <td>{{ item.cart_itm_name }}</td>
                </tr>
                {% endfor %}
                </table>
                <div class="row">
                    <div class="large-12 columns">
                        <label class="required">{% trans "Which company" %}</label>
                        <div class="input_row">
                          <a class="add float-right" href="{% url 'index:add_firm' %}"></a>{{ form.firm }} 
                        </div>
                    </div>
                </div>
                <div class="marginTop">
                    <label for="{{ form.doc.id_for_label }}">{% trans "Service agreement" %}</label>
                    <div class="input_row">
                        {{ form.doc }}&nbsp;&nbsp;<a class="add" href="{% url 'docs:delivery' %}"></a>
                    </div>
                </div>
                
                <div class="marginTop">
                    <a class="button no_follow back" href="{% url 'index:empty' %}">{% trans "Cansel" %}</a>
                    <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
                    <input type="submit" value="{% trans 'Transfer to repair' %}" class="button transfer_to_repair no_follow"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
