{% extends "index/base.html" %}{% load i18n %}
{% block title %}{% trans "Transfer cartridges refills" %}{% endblock %}
{% block h3 %}{% trans "Transfer cartridges refills" %}{% endblock %}

{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'index:empty' %}">{% trans "Blank consumables" %}</a> / {% trans "Transfer cartridges refills with barcode scanner" %}{% endblock %}
{% load filters %}
{% block jqueryui %}
<script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>
{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/transfer_to_firm/
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <div class="success_msg"></div>
            <div class="error_msg"></div>
        </div>
    </div><div class="transfe_to_firm_scanner"></div>
    <div class="row">
        <div class="large-6 columns">
            <form action="" method="POST" class="transfer_to_firm">
                {% csrf_token %}
                <div>
                    <label class="required barcode">{% trans 'Scanning number' %}</label>
                    {{ form.scan_number }}
                </div>
                <div class="marginTop">
                <label class="required">{% trans "What transfe" %}</label>
                {{ form.numbers }}
                {% if sessions_objects %}
                <table class="width100 transfer_list_to_firm">
                <tr>
                    <td>&nbsp;</td>
                    <th>{% trans 'Number' %}</th>
                    <th>{% trans 'Name' %}</th>
                </tr>
                {% for item in sessions_objects %}
                <tr>
                    <td><input type="checkbox" value="{{ item.pk}}" ></td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.name }}</td>
                </tr>
                {% endfor %}
                </table>
                {% endif %}
                </div>
                <div class="row">
                    <div class="large-7 medium-7 columns">
                        <label class="required">{% trans "Which company" %}</label>
                        <div class="input_row">
                            {{ form.firm }} <a class="add" href="{% url 'index:add_firm' %}"></a>
                        </div>
                    </div>
                    <div class="large-5 medium-5 columns">
                        <label for="{{ form.price.id_for_label }}">{% trans 'Service price' %}, {% trans "Currency" %}</label>
                        {{ form.price }}
                    </div>
                </div>
                <div class="marginTop">
                    <label for="{{ form.doc.id_for_label }}">{% trans "Service agreement" %}</label>
                    <div class="input_row">
                        {{ form.doc }} <a class="add" href="{% url 'docs:delivery' %}"></a>
                    </div>
                </div>
                <div class="marginTop">
                    <input type="submit" value="{% trans 'Transfer to repair' %}" class="button no_follow"/>
                    <a class="button back" href="{% url 'index:empty' %}">{% trans "Cansel" %}</a>
                    {% if mydebug %}<a class="button send_test_barcode">Debug</a>{% endif %}
                    <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
                </div>
            </form>
        </div>
    </div>

<div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">{% trans 'Need confirmation' %}</h2>
  <p class="ajax_error_message"></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <div class="right">
    <img class="spinner_force_move_to_transfer" src="{{ STATIC_URL }}img/loader.gif" />
    <a class="button force_move_to_transfer">{% trans 'Yes' %}</a>
    <a class="button close_modal_win">{% trans 'No' %}</a>
  </div>
</div>
<script>
var ouid = 0;
$('a.close_modal_win').on('click', function() {
    $('#myModal').foundation('reveal', 'close');
});
</script>
{% endblock %}
