{% extends "index/base.html" %}
{% load filters %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <form action="" method="POST">
            {% csrf_token %}
            <label>Название структурного подразделения</label>
            <input name="name" type="text"/>
            <label>Подчиняется</label>
            <select size="1" name="par_id">
                <option value="0" selected>&nbsp;&nbsp;&nbsp;</option>
                {% for i in bulk %}
                        <option value="{{ i.id }}">{{ i.level | nbsp }}{{ i.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Добавить" class="button radius"/>
        </form>
    </div>

    <div class="large-6 columns">
        <h4>Структура организации:</h4>
        {% for item, info in annotated_list %}
            {% if info.open %}
                <ul>
                <li>
                    {% else %}
                </li>
                <li>
            {% endif %}
        {{ item }}
        {% for close in info.close %}
            </li></ul>
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}
