{% extends "index/base.html" %}
{% load staticfiles %}
{% load filters %}
{% load mptt_tags %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <h4>Добавление новой структурной единицы</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Название структурного подразделения</label>
            <input name="name" type="text"/>
            {% if error1 %}
                <ul class="errorlist">
                    <li>{{error1}}</li>
                </ul>
            {% endif %}
            <label>Подчиняется</label>
            <select size="1" name="departament">
                <option value="0" selected>&nbsp;&nbsp;&nbsp;</option>
                {% for node,structure in bulk|tree_info:"ancestors" %}
                    <option value="{{ node.pk }}">{{ node.level | nbsp }}{{ node.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Добавить" class="button"/>
        </form>
    </div>

    <div class="large-6 columns">
        <h4>Структура организации</h4>
        <div>
            <a class="del_node button alert">Удалить</a><img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
        </div>
        <div class="marginTop"></div>
        <table class="checkboxes">
            <tr>
                <th></th>
                <th>Название</th>
                <th>Номер</th>
            </tr>
            {% for node,structure in bulk|tree_info:"ancestors" %}
                <tr>
                    <td><input type="checkbox" name="node_id" value={{ node.pk }} /></td>
                    <td><span class="gi">{{ node.level | dash }}</span>{{ node.name }}</td> 
                    <td>{{ node.pk }}</td>       
                </tr>
            {% endfor %}
        </table>
        
    </div>
</div>

{% endblock %}
