{% extends "index/base.html" %}
{% load filters %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <form action="" method="POST">
            {% csrf_token %}
            <label>Название структурного подразделения</label>
            <input name="name" type="text"/>
            <label>Подчиняется</label>
            <select size="1" name="departament">
                <option value="0" selected>&nbsp;&nbsp;&nbsp;</option>
                {% for i in bulk %}
                        <option value="{{ i.id }}">{{ i.level | nbsp }}{{ i.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Добавить" class="button"/>
        </form>
    </div>

    <div class="large-6 columns">
        <h4>Структура организации:</h4>
        {% load mptt_tags %}
        <ul>
            {% recursetree bulk %}
                <li>
                    {{ node.name }}
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>

{% endblock %}
