{% extends "index/base.html" %}
{% block title %}Расходники в пользовании{% endblock %}
{% block h3 %}Расходники в пользовании{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <a class="tr_to_stock button" href="#">Вернуть на склад</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
        <form>
        <tr>
            <th>&nbsp;</th>
            <th>Номер</th>
            <th>Наименование</th>
            <th>У кого установлен</th>
        </tr>
        {% for i in cartrjs %}
        <tr>
            <td><input type="checkbox" value="{{i.id}}"></td>
            <td>{{ i.id }}</td>
            <td>{{ i.cart_itm_name }}</td>
            <td>{{ i.departament }}</td>
        </tr>
        {% endfor %}
        </form>
        </table>
    </div>
</div>
{% endblock %}
