{% extends "index/base.html" %}{% load i18n %}
{% load pagination  %}
{% block title %}{% trans "Consumables in use" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / {% trans "Consumables in use" %}{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-6 columns">
        <div class="success_msg"></div>
        <div class="error_msg"></div>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <a class="tr_to_stock button no_follow" href="#">{% trans "Return to the stock" %}</a>
        <a class="tr_empty_to_recycle_bin button alert" href="#">{% trans "In basket" %}</a>
        <img class="spinner" src="{{ STATIC_URL }}img/loader.gif" />
    </div>
    <div class="large-6 columns text-right">
        <a class="download_doc" href="#">{% trans 'Download' %}</a>
        <img class="export_spinner" src="{{ STATIC_URL }}img/loader.gif" />
        <select class="export_type">
            <option value="exp_with_group" selected>{% trans "Export to CSV with group" %}</option>
            <option value="exp_without_group">{% trans "Export to CSV without group" %}</option>
        </select>
        <a class="export_to_csv button no_follow" href="#" view="{{ view }}"></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr class="table_header">
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">{% trans "Number" %} {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}"  /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">{% trans "Name" %} {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">{% trans "Amount<br/>recovery" %} {{count_triangle}}</a></th>
                    <th class="cart_date{% if select_date %} active_cell{% endif %}"><a href="?action=change_date">{% trans "Date transfe" %} {{datec_triangle}}</a></th>
                    <th class="org_user">{% trans "User" %}</th>
                    <th>{% trans "Comment" %}</th>
                    <th class="actions">{% trans "Action" %}</th>
                </tr>{% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.pk }}"></td>
                        <td>{{ i.cart_number }}</td>
                        <td>{{ i.cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td>{{ i.cart_date_change|date:"d.m.Y" }}</td>
                        <td>{{ i.departament }}</td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:25 }}</div></td>
                        <td><select class="cartridge_action" data="{{ i.pk }}">
                            <option selected></option>
                            <option value="edit">{% trans "Edit a comment" %}</option>
                            <option value="view_events">{% trans "Event viewer" %}</option>
                            <option value="view_delivery" data="{{ i.delivery_doc }}">{% trans "Delivery agreement" %}</option>
                        </select>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>
    </div>
</div>
{% found_pagination cartrjs size_perpage %}
{% endblock %}
