{% extends "index/base.html" %}
{% load pagination  %}
{% block title %}Расходники в пользовании{% endblock %}
{% block h3 %}Расходники в пользовании{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-12 columns">
        <a class="tr_to_stock button" href="#">Вернуть на склад</a>
        <a class="tr_empty_to_recycle_bin button alert" href="#">В корзину</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns marginTop"></div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <table class="checkboxes">
            <form>
                <tr>
                    <th class="first_checkbox"><input type="checkbox" class="check_all"></th>
                    <th class="cart_number {% if select_number %}active_cell{% endif %}"><a href="?action=number">Номер {{number_triangle}}</a><br/><input class="search_number" name="search_number" value="{{search_number}}"  /></th>
                    <th class="cart_name{% if select_type %} active_cell{% endif %}"><a href="?action=name">Название {{type_triangle}}</a></th>
                    <th class="cart_count{% if select_count %} active_cell{% endif %}"><a href="?action=recovery">Кол-во<br/>перезаправок {{count_triangle}}</a></th>
                    <th class="cart_date{% if select_date %} active_cell{% endif %}"><a href="?action=change_date">Дата передачи {{datec_triangle}} <br/>в пользование</a></th>
                    <th class="org_user">Пользователь</th>
                    <th>Комментарий</th>
                    <th class="actions">Действие</th>
                </tr>
                {% for i in cartrjs %}
                    <tr>
                        <td><input type="checkbox" class="checkbox" value="{{ i.pk }}"></td>
                        <td>{{ i.cart_number }}</td>
                        <td>{{ i.cart_itm_name }}</td>
                        <td>{{ i.cart_number_refills }}</td>
                        <td>{{ i.cart_date_change }}</td>
                        <td>{{ children }}</td>
                        <td><div class="comment_in_cell" title="{{ i.comment }}">{{ i.comment|truncatechars:40 }}</div></td>
                        <td><select class="cartridge_action" data="{{ i.pk }}">
                            <option selected></option>
                            <option value="edit">Редактировать</option>
                            <option value="view_events">Просмотр событий</option>
                        </select>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>

    </div>
</div>

{% found_pagination cartrjs size_perpage %}

{% endblock %}
