{% extends "index/base.html" %}{% load staticfiles %}{% load i18n %}
{% load pagination  %}
{% load docsf %}
{% block title %}{% trans "List storages in organization" %}{% endblock %}
{% block breadcrumbs %}<a href="/"><img src="{{ STATIC_URL }}img/home.png" /></a> / <a href="{% url 'docs:handbook' %}">{% trans "References" %}</a> / <a href="{% url 'storages:all' %}">{% trans "List storages in organization" %}</a> / {% trans "Add new storage" %}{% endblock %}
{% block help_url %}
{{ request.HOME_SITE }}/help/{{ request.LANGUAGE_CODE }}/storages_add/
{% endblock %}
{% block submenu %}
<div class="row">
    <div class="large-6 columns">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
        <form method="POST">{% csrf_token %}
            {% for field in form %}
                <div class="marginTop">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %} 
            <div class="marginTop">
                <input type="submit" class="button success" value="{% trans 'Add' %}" />&nbsp;&nbsp;&nbsp;
                <a class="button" href="{% url 'storages:all' %}">{% trans "Disable add" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
